.navbar {

    .content {
        display: flex;
        justify-content: space-between;

        .right {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        .content {
            font-size: 14px;
        }
    }
}